/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
body {
    font-family: sans-serif;
}

h1 {
	color: white;
	background: purple;
	font-size: 18pt;
	padding: 5px;
}

table { border-collapse: collapse;}
tr.list_line_odd {}
tr.list_line_even {background:#ccffff}
td { border:1pt solid gray;}
th { border:1pt solid gray; background: skyblue; color: blue;}
