// Place all the styles related to the Lents controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tr.delay {color:red;}
span.req {color: red;}
.red {color: red;}
