<!DOCTYPE html>
<html>
<head>
  <title>programmig robocar in C</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <!-- bug, comment out 2015-09-29 -->
  <%#= javascript_include_tag :application %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<hr/>
programmed by hkimura,
version 1.1.
</body>
</html>
